.rectangle {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background-color: #f7fbff;
}
.rectangle,
.rectangle1,
.rectangleParent {
  position: absolute;
  bottom: 0;
  left: 0;
}
.rectangle1 {
  height: 62.6%;
  width: 100%;
  top: 37.4%;
  right: 0;
  background-color: #ecf4ff;
}
.rectangleParent {
  height: 6.81%;
  width: 99.93%;
  top: 93.19%;
  right: 0.07%;
}
.podpayment2 {
  position: absolute;
  width: 14.78%;
  top: 97.79%;
  left: 8.4%;
  font-size: 0.88em;
  line-height: 2.43em;
  font-weight: 600;
  font-family: "Open Sans";
  color: #667c94;
  display: inline-block;
}
.frameChild,
.group26Copy,
.group26Copy2 {
  position: absolute;
  height: 0.9%;
  width: 3.54%;
  top: 96.6%;
  right: 87.86%;
  bottom: 2.49%;
  left: 8.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group26Copy,
.group26Copy2 {
  right: 83.69%;
  left: 12.77%;
}
.group26Copy2 {
  right: 79.53%;
  left: 16.93%;
}
.care {
  color: #ff9f6a;
}
.medicare {
  position: absolute;
  top: calc(50% + 2491.5px);
  left: 8.4%;
  font-size: 2.13em;
  color: #0073ff;
}
.about,
.home,
.news,
.services {
  position: absolute;
  top: calc(50% - 10px);
  left: 88.99%;
  font-size: 1em;
  cursor: pointer;
}
.about,
.home,
.services {
  left: 56.85%;
}
.about,
.home {
  left: 28.57%;
}
.home {
  left: 0;
}
.newsParent {
  position: absolute;
  height: 0.35%;
  width: 23.32%;
  top: 94.07%;
  right: 8.47%;
  bottom: 5.57%;
  left: 68.22%;
  overflow: hidden;
  color: #0073ff;
}
.ourServices,
.weProvideThe {
  position: absolute;
  text-align: center;
  display: inline-block;
}
.ourServices {
  width: 38.79%;
  top: calc(50% - 1827.5px);
  left: 30.6%;
  font-size: 3.38em;
  line-height: 1.44em;
  font-weight: 600;
  color: #003b79;
}
.weProvideThe {
  height: 1.38%;
  width: 37.89%;
  top: 19.65%;
  left: 31.02%;
  font-size: 1.25em;
  line-height: 1.95em;
}
.rectangle2,
.rectangleCopy {
  position: absolute;
  height: 5.71%;
  width: 18.95%;
  top: 22.25%;
  right: 72.73%;
  bottom: 72.03%;
  left: 8.33%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 10px 50px 25px rgba(0, 59, 121, 0.07);
}
.rectangleCopy {
  height: 6.6%;
  right: 51.28%;
  bottom: 71.15%;
  left: 29.77%;
  background-color: #007ef3;
  box-shadow: 0 10px 50px 25px rgba(0, 126, 243, 0.26);
}
.chevronDown4Icon {
  position: absolute;
  height: 0.29%;
  width: 0.65%;
  top: 27.69%;
  right: 54.22%;
  bottom: 72.02%;
  left: 45.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.learnMore {
  position: absolute;
  top: calc(50% - 1264.5px);
  left: 32.13%;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
}
.rectangleCopy3,
.rectangleCopy5 {
  position: absolute;
  height: 5.71%;
  width: 18.95%;
  top: 22.25%;
  right: 29.84%;
  bottom: 72.03%;
  left: 51.21%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 10px 50px 25px rgba(0, 59, 121, 0.07);
}
.rectangleCopy5 {
  right: 8.4%;
  left: 72.66%;
}
.dentalCare {
  left: 10.69%;
}
.dentalCare,
.neurological,
.prediatrics,
.pulmonary {
  position: absolute;
  top: calc(50% - 1345.5px);
  font-size: 1.5em;
}
.pulmonary {
  left: 32.13%;
  color: #fff;
}
.neurological,
.prediatrics {
  left: 53.57%;
}
.prediatrics {
  left: 75.02%;
}
.rectangle3,
.toothIcon {
  position: absolute;
  height: 2.46%;
  width: 9.65%;
  top: 22.86%;
  right: 79.67%;
  bottom: 74.69%;
  left: 10.69%;
}
.toothIcon {
  height: 2.27%;
  width: 7.95%;
  top: 22.96%;
  right: 80.71%;
  bottom: 74.77%;
  left: 11.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mask,
.rectangleCopy2,
.rectangleCopy4,
.rectangleCopy6 {
  position: absolute;
  height: 2.46%;
  width: 9.65%;
  top: 22.86%;
  right: 58.22%;
  bottom: 74.69%;
  left: 32.13%;
}
.mask,
.rectangleCopy4,
.rectangleCopy6 {
  right: 36.78%;
  left: 53.57%;
}
.mask,
.rectangleCopy6 {
  right: 15.34%;
  left: 75.02%;
}
.mask {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
.oval,
.rectangleCopy17,
.rectangleCopy18 {
  position: absolute;
  height: 19.94%;
  width: 99.93%;
  top: 31.79%;
  right: 0.07%;
  bottom: 48.28%;
  left: 0;
}
.rectangleCopy17,
.rectangleCopy18 {
  height: 10.61%;
  top: 69.52%;
  bottom: 19.87%;
  background-color: #f8fdff;
}
.rectangleCopy18 {
  height: 12.35%;
  top: 80.84%;
  bottom: 6.81%;
}
.whatOurCustomers {
  position: absolute;
  width: 41.43%;
  top: calc(50% + 1183.5px);
  left: 8.4%;
  font-size: 3.38em;
  line-height: 1.44em;
  font-weight: 600;
  color: #003b79;
  display: inline-block;
}
.ovalCopy2 {
  position: absolute;
  height: 16.89%;
  width: 99.93%;
  top: 51.72%;
  right: 0.07%;
  bottom: 31.38%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.weHaveA,
.weHaveThe {
  position: absolute;
  text-align: center;
  display: inline-block;
}
.weHaveThe {
  width: 47.95%;
  top: calc(50% + 261.5px);
  left: 26.02%;
  font-size: 3.38em;
  line-height: 1.44em;
  font-weight: 600;
  color: #003b79;
}
.weHaveA {
  height: 1.38%;
  width: 37.89%;
  top: 56.61%;
  left: 31.02%;
  font-size: 1.25em;
  line-height: 1.95em;
}
.rectangleCopy13 {
  height: 7.92%;
  width: 19.01%;
  top: 59.19%;
  right: 72.66%;
  bottom: 32.89%;
  left: 8.33%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 10px 50px 25px rgba(0, 59, 121, 0.07);
}
.bitmap,
.mask1,
.rectangleCopy13 {
  position: absolute;
}
.mask1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  background-color: #aed3e2;
}
.bitmap {
  height: 5.73%;
  width: 19.01%;
  top: 59.19%;
  right: 72.66%;
  bottom: 35.08%;
  left: 8.33%;
}
.dentalCare1,
.drAwaatifAl {
  position: absolute;
  top: calc(50% + 868.5px);
  left: 10.69%;
  font-size: 1.5em;
}
.dentalCare1 {
  top: calc(50% + 910.5px);
  font-size: 1.13em;
}
.bitmap1,
.rectangleCopy131 {
  position: absolute;
  width: 19.01%;
  top: 59.19%;
  right: 51.21%;
  left: 29.77%;
}
.rectangleCopy131 {
  height: 7.92%;
  bottom: 32.89%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 10px 50px 25px rgba(0, 59, 121, 0.07);
}
.bitmap1 {
  height: 5.73%;
  bottom: 35.08%;
}
.cardiology,
.drFilipaGaspar {
  position: absolute;
  top: calc(50% + 868.5px);
  left: 32.13%;
  font-size: 1.5em;
}
.cardiology {
  top: calc(50% + 910.5px);
  font-size: 1.13em;
}
.bitmap2,
.rectangleCopy132 {
  position: absolute;
  width: 19.01%;
  top: 59.19%;
  right: 29.77%;
  left: 51.21%;
}
.rectangleCopy132 {
  height: 7.92%;
  bottom: 32.89%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 10px 50px 25px rgba(0, 59, 121, 0.07);
}
.bitmap2 {
  height: 5.73%;
  bottom: 35.08%;
}
.drSukhmeetGorae,
.neurological1 {
  position: absolute;
  top: calc(50% + 868.5px);
  left: 53.57%;
  font-size: 1.5em;
}
.neurological1 {
  top: calc(50% + 910.5px);
  font-size: 1.13em;
}
.bitmap3,
.rectangleCopy133 {
  position: absolute;
  width: 19.01%;
  top: 59.19%;
  right: 8.33%;
  left: 72.66%;
}
.rectangleCopy133 {
  height: 7.92%;
  bottom: 32.89%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 10px 50px 25px rgba(0, 59, 121, 0.07);
}
.bitmap3 {
  height: 5.73%;
  bottom: 35.08%;
}
.drSiriJakobsson,
.prediatrics1 {
  position: absolute;
  top: calc(50% + 868.5px);
  left: 75.02%;
  font-size: 1.5em;
}
.prediatrics1 {
  top: calc(50% + 910.5px);
  font-size: 1.13em;
}
.rectangle4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  background-color: #007ff4;
}
.learnMore1 {
  position: absolute;
  top: calc(50% - 10px);
  left: 29.03%;
  font-size: 1em;
}
.groupCopy3 {
  position: absolute;
  height: 1.06%;
  width: 12.91%;
  top: 44.19%;
  right: 78.56%;
  bottom: 54.75%;
  left: 8.54%;
  overflow: hidden;
  text-align: center;
  color: #fff;
}
.clinicWithInnovati,
.weProvideThe1 {
  position: absolute;
  left: 8.33%;
  display: inline-block;
}
.clinicWithInnovati {
  width: 38.79%;
  top: calc(50% - 562.5px);
  font-size: 3.38em;
  line-height: 1.44em;
  font-weight: 600;
  color: #003b79;
}
.weProvideThe1 {
  height: 1.38%;
  width: 37.89%;
  top: 42.03%;
  font-size: 1.25em;
  line-height: 1.95em;
}
.rectangleCopy7 {
  position: absolute;
  height: 4.17%;
  width: 19.57%;
  top: 36.78%;
  right: 30.19%;
  bottom: 59.05%;
  left: 50.24%;
}
.rectangleCopy14,
.rectangleCopy7,
.rectangleCopy9 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 10px 50px 25px rgba(0, 59, 121, 0.07);
}
.rectangleCopy9 {
  position: absolute;
  height: 4.28%;
  width: 19.57%;
  top: 44.51%;
  right: 30.19%;
  bottom: 51.21%;
  left: 50.24%;
}
.rectangleCopy14 {
  height: 5.2%;
  width: 40.04%;
  top: 73.52%;
  right: 51.56%;
  bottom: 21.28%;
  left: 8.4%;
}
.div,
.ovalIcon,
.rectangleCopy14 {
  position: absolute;
}
.ovalIcon {
  height: 93.59%;
  width: 99.16%;
  top: 0;
  right: 0.84%;
  bottom: 6.41%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div {
  top: calc(50% - 27.71px);
  left: 37.59%;
  font-size: 3.69em;
}
.ovalParent {
  position: absolute;
  height: 1.57%;
  width: 5.83%;
  top: 73.11%;
  right: 50.17%;
  bottom: 25.31%;
  left: 44%;
  overflow: hidden;
  color: #fff;
  font-family: Helvetica;
}
.iWantedTo {
  position: absolute;
  height: 1.88%;
  width: 30.67%;
  top: 74.37%;
  left: 13.12%;
  font-size: 1.25em;
  line-height: 1.95em;
  display: inline-block;
}
.jacquelineAsong,
.patient {
  position: absolute;
  left: 18.74%;
}
.jacquelineAsong {
  top: calc(50% + 1514.5px);
  font-size: 1.5em;
  font-weight: 600;
}
.patient {
  top: calc(50% + 1552.5px);
  font-size: 1.13em;
}
.ovalIcon1 {
  position: absolute;
  height: 1.04%;
  width: 4.09%;
  top: 76.77%;
  right: 82.79%;
  bottom: 22.18%;
  left: 13.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangleCopy141 {
  position: absolute;
  height: 5.2%;
  width: 40.04%;
  top: 73.52%;
  right: 8.26%;
  bottom: 21.28%;
  left: 51.7%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 10px 50px 25px rgba(0, 59, 121, 0.07);
}
.group4Copy {
  position: absolute;
  height: 1.57%;
  width: 5.83%;
  top: 73.11%;
  right: 6.87%;
  bottom: 25.31%;
  left: 87.3%;
  overflow: hidden;
  color: #fff;
  font-family: Helvetica;
}
.iWantedTo1 {
  position: absolute;
  height: 1.88%;
  width: 30.67%;
  top: 74.37%;
  left: 56.42%;
  font-size: 1.25em;
  line-height: 1.95em;
  display: inline-block;
}
.patient1,
.patrciaRibeiro {
  position: absolute;
  left: 62.04%;
}
.patrciaRibeiro {
  top: calc(50% + 1514.5px);
  font-size: 1.5em;
  font-weight: 600;
}
.patient1 {
  top: calc(50% + 1552.5px);
  font-size: 1.13em;
}
.ovalIcon3 {
  position: absolute;
  height: 1.04%;
  width: 4.09%;
  top: 76.77%;
  right: 39.49%;
  bottom: 22.18%;
  left: 56.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangleCopy11 {
  position: absolute;
  height: 4.28%;
  width: 19.57%;
  top: 40.33%;
  right: 8.47%;
  bottom: 55.39%;
  left: 71.96%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 10px 50px 25px rgba(0, 59, 121, 0.07);
}
.emergencyCare,
.hoursService,
.qualifiedDoctors {
  position: absolute;
  top: calc(50% - 593.5px);
  left: 52.05%;
  font-size: 1.5em;
  font-weight: 600;
}
.emergencyCare,
.hoursService {
  top: calc(50% - 150.5px);
}
.emergencyCare {
  top: calc(50% - 386.5px);
  left: 73.77%;
}
.doctorWomanCopy2,
.doctorWomanCopyIcon,
.doctorWomanIcon {
  position: absolute;
  height: 4.1%;
  width: 16.1%;
  top: 34.72%;
  right: 31.92%;
  bottom: 61.17%;
  left: 51.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.doctorWomanCopy2,
.doctorWomanCopyIcon {
  top: 38.37%;
  right: 10.2%;
  bottom: 57.53%;
  left: 73.7%;
}
.doctorWomanCopy2 {
  top: 42.56%;
  right: 31.92%;
  bottom: 53.33%;
  left: 51.98%;
}
.humanBrainIcon,
.lungs1Icon,
.medicalFileIcon,
.ovalCopy3,
.ovalOvalCopyMask {
  position: absolute;
  height: 2.17%;
  width: 8.95%;
  top: 22.99%;
  right: 37.09%;
  bottom: 74.84%;
  left: 53.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lungs1Icon,
.medicalFileIcon,
.ovalCopy3,
.ovalOvalCopyMask {
  height: 2.28%;
  width: 6.69%;
  top: 22.95%;
  right: 17.56%;
  bottom: 74.77%;
  left: 75.75%;
}
.lungs1Icon,
.ovalCopy3,
.ovalOvalCopyMask {
  height: 2.04%;
  width: 8.95%;
  top: 23.06%;
  right: 58.54%;
  bottom: 74.9%;
  left: 32.51%;
}
.ovalCopy3,
.ovalOvalCopyMask {
  height: 16.86%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 83.14%;
  left: 0;
}
.ovalCopy3 {
  height: 7.54%;
  width: 26.34%;
  top: 79.88%;
  right: 0.07%;
  bottom: 12.59%;
  left: 73.59%;
}
.rectangleCopy15 {
  position: absolute;
  height: 8.46%;
  width: 83.14%;
  top: 82.79%;
  right: 8.47%;
  bottom: 8.76%;
  left: 8.4%;
  border-radius: 20px;
  background-color: #007ff4;
}
.subscribeToNewslet,
.weHaveA1 {
  position: absolute;
  color: #fff;
  display: inline-block;
}
.subscribeToNewslet {
  width: 38.79%;
  top: calc(50% + 1897.5px);
  left: 30.6%;
  font-size: 3em;
  line-height: 1.63em;
  font-weight: 600;
}
.weHaveA1 {
  height: 0.69%;
  width: 37.89%;
  top: 85.16%;
  left: 31.02%;
  font-size: 1.25em;
  line-height: 1.95em;
  text-align: center;
}
.rectangle5,
.rectangleCopy16 {
  position: absolute;
  height: 2.12%;
  width: 58.71%;
  top: 87.26%;
  right: 20.61%;
  bottom: 10.61%;
  left: 20.68%;
  border-radius: 10px;
  background-color: #fff;
}
.rectangle5 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 37px;
  background-color: #007ff4;
}
.sendNow {
  position: absolute;
  top: calc(50% - 10px);
  left: 30.11%;
  font-size: 1em;
}
.groupCopy4 {
  position: absolute;
  height: 1.31%;
  width: 12.21%;
  top: 87.67%;
  right: 22.14%;
  bottom: 11.02%;
  left: 65.65%;
  overflow: hidden;
  text-align: center;
  color: #fff;
}
.enterYourEmail {
  position: absolute;
  height: 0.69%;
  width: 37.89%;
  top: 87.97%;
  left: 23.18%;
  font-size: 1.25em;
  line-height: 1.95em;
  color: #9b9b9b;
  display: inline-block;
}
.rectangle6 {
  position: absolute;
  height: 1.59%;
  width: 99.93%;
  top: 0;
  right: 0.07%;
  bottom: 98.41%;
  left: 0;
}
.medicare1,
.newsGroup {
  position: absolute;
  color: #0073ff;
}
.medicare1 {
  top: calc(50% - 2786.5px);
  left: 8.33%;
  font-size: 2.13em;
}
.newsGroup {
  height: 0.35%;
  width: 23.32%;
  top: 0.71%;
  right: 30.4%;
  bottom: 98.94%;
  left: 46.29%;
  overflow: hidden;
}
.rectangle7 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background-color: #007ff4;
}
.contact,
.group,
.rectangle7 {
  position: absolute;
}
.contact {
  top: calc(50% - 11px);
  left: 33.53%;
  font-size: 1em;
}
.group {
  height: 0.88%;
  width: 11.8%;
  top: 0.44%;
  right: 13.05%;
  bottom: 98.67%;
  left: 75.16%;
  overflow: hidden;
  text-align: center;
  color: #fff;
}
.makeAnAppointment {
  position: absolute;
  top: calc(50% - 10px);
  left: 20.46%;
  font-size: 1em;
}
.groupCopy {
  position: absolute;
  height: 1.06%;
  width: 17.97%;
  top: 10.79%;
  right: 73.7%;
  bottom: 88.15%;
  left: 8.33%;
  overflow: hidden;
  text-align: center;
  color: #fff;
}
.rectangle9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 10px 50px 25px rgba(0, 59, 121, 0.07);
}
.departments {
  position: absolute;
  top: calc(50% - 10px);
  left: 32.24%;
  font-size: 1em;
}
.groupCopy2 {
  position: absolute;
  height: 1.06%;
  width: 17.97%;
  top: 10.79%;
  right: 54.06%;
  bottom: 88.15%;
  left: 27.97%;
  overflow: hidden;
  text-align: center;
  color: #007df2;
}
.welcomeToMedicare {
  position: absolute;
  top: calc(50% - 2542.5px);
  left: 8.33%;
  font-size: 1.5em;
}
.bestSpecialists,
.weAreOn {
  position: absolute;
  left: 8.33%;
  display: inline-block;
}
.bestSpecialists {
  width: 38.79%;
  top: calc(50% - 2483.5px);
  font-size: 4em;
  line-height: 1.22em;
  color: #003b79;
}
.weAreOn {
  height: 2.16%;
  width: 37.89%;
  top: 7.85%;
  font-size: 1.25em;
  line-height: 1.95em;
}
.rectangle10 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 32px;
  background-color: #ebeeff;
}
.rectangleWrapper {
  position: absolute;
  height: 11.89%;
  width: 39.83%;
  top: 2.49%;
  right: 8.47%;
  bottom: 85.62%;
  left: 51.7%;
}
.groupParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 90.06em;
  height: 353.31em;
  overflow: hidden;
}
.hospitalLandingPage {
  position: relative;
  background-color: #f8fdff;
  width: 100%;
  height: 353.31em;
  overflow: hidden;
  text-align: left;
  color: #002348;
  font-family: "Source Sans Pro";
}
.content{
  text-align: center !important;
  color: black !important;
}
